@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "GabriolaRegular";
  src: url("../fonts/gabriola.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*#region =====================================Микксин и переменые*/
/*#endregion */
/*#region=====================================Анимация загрузки страницы*/
@-webkit-keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loading-whell {
  width: 100px;
  height: 100px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: #275988;
  -webkit-animation: 2s spin infinite linear;
          animation: 2s spin infinite linear;
}

.preloader {
  background: white;
  z-index: 3;
  -webkit-transition: 1s all;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
}

.preloader__loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.preloader_done {
  opacity: 0;
  visibility: hidden;
}

.load {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*#endregion */
/*#region =====================================ibg*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg > img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/*#endregion */
/*#region =====================================Общии стили*/
body {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 108px 0px 0px 0px;
}

@media (max-width: 874px) {
  .content {
    padding: 80px 0px 0px 0px;
  }
}

.container {
  max-width: 1140px;
  padding: 0px 15px;
  margin: 0px auto;
}

.btn-red,
.btn-blue {
  background-color: #d92928;
  color: #ffffff;
  font-size: 16px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 1140px) {
  .btn-red,
  .btn-blue {
    font-size: calc(12px + 4 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 1140px) {
  .btn-red,
  .btn-blue {
    padding-top: calc(19px + 4 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 1140px) {
  .btn-red,
  .btn-blue {
    padding-bottom: calc(19px + 4 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 1140px) {
  .btn-red,
  .btn-blue {
    padding-right: calc(16px + 4 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 1140px) {
  .btn-red,
  .btn-blue {
    padding-left: calc(16px + 4 * ((100vw - 320px) / 820));
  }
}

.btn-red:hover,
.btn-blue:hover {
  background-color: #292929;
}

.btn-blue {
  background-color: #275988;
}

.btn-red {
  background-color: #d92928;
}

.title h2 {
  font-size: 33px;
  color: #707070;
  text-transform: uppercase;
  text-align: center;
  padding-top: 52px;
  padding-bottom: 52px;
}

@media (max-width: 1140px) {
  .title h2 {
    font-size: calc(27px + 6 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 1140px) {
  .title h2 {
    padding-top: calc(33px + 19 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 1140px) {
  .title h2 {
    padding-bottom: calc(46px + 6 * ((100vw - 320px) / 820));
  }
}

/*#endregion */
/*#region =====================================Шапка*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 3;
  -webkit-box-shadow: 0px 7px 10px rgba(160, 160, 160, 0.25);
          box-shadow: 0px 7px 10px rgba(160, 160, 160, 0.25);
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 108px;
  padding: 0 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1500px) {
  .header__body {
    padding: 0 15px;
  }
}

@media (max-width: 1100px) {
  .header__body {
    padding: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 874px) {
  .header__body {
    height: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__logo {
  margin-right: 30px;
  position: relative;
  z-index: 4;
}

.header__logo img {
  max-width: 438px;
  overflow: hidden;
}

@media (max-width: 1100px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 0px;
            flex: 0 1 0;
  }
  .header__logo img {
    height: 42px;
  }
}

@media (max-width: 874px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 500px;
            flex: 0 1 500px;
    padding-top: 0px;
    margin-right: 15px;
  }
  .header__logo img {
    height: 46px;
  }
}

@media (max-width: 874px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 90px 0px 0px 0px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header__menu.active {
    top: 0%;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}

@media (max-width: 874px) {
  .header__list {
    display: block;
  }
}

.header__item a {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
  font-family: Montserrat;
  font-size: 15px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  margin-left: 36px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  /*   @media (max-width: $break3) {
            margin: 0 7px;
            font-size: 13.5px;
        }*/
}

@media (max-width: 1500px) {
  .header__item a {
    margin-left: 27px;
  }
}

@media (max-width: 1100px) {
  .header__item a {
    margin: 0 9px;
  }
}

@media (min-width: 874px) {
  .header__item a:hover {
    color: #275988;
  }
}

@media (max-width: 874px) {
  .header__item a {
    font-size: 16px;
    margin: 30px 20px;
    display: block;
  }
}

.header .qustion-item {
  display: none;
}

.header .qustion-btn a {
  padding: 15.5px 22px;
  background-color: #275988;
  color: #fff;
  border-radius: 25px;
}

@media (max-width: 1100px) {
  .header .qustion-btn {
    display: none;
  }
  .header .qustion-item {
    display: block;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 874px) {
  .header__burger {
    display: block;
    position: relative;
    min-width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::after, .header__burger::before {
    content: "";
    background-color: #707070;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    background-color: #707070;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

/*#endregion */
/*#region =====================================Главный Слацдер*/
/* 
.hello {
    $break1: 767px;
    $break2: 530px;
    $break3: 330px;
    &__body {
        display: flex;
        flex-direction: column;
    }
    &__row {
        display: flex;
        padding: 52px 42px;
        //  background: url(../img/back-angle.png) center/ cover no-repeat;

        margin-bottom: 42px;
        @media (max-width: $break2) {
            padding: 39px 30px;
        }
        @media (max-width: $break3) {
            padding: 35px 27px;
        }
    }
    &__logo-min {
        margin-right: 18px;
        img {
            height: 105px;
        }
        @media (max-width: $break1) {
            display: none;
            //  background: url(../img/back-angle.png) 0 -2000px / cover no-repeat;
        }
    }
    &__caption {
        flex: 1 0 auto;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgba(0, 0, 0, 0.4);
        padding: 0 30px;
        @media (max-width: $break1) {
            padding: 0;
            background: none;
        }
    }

    &__lable {
        color: #ffffff;
        display: flex;
        flex-direction: column;

        margin-bottom: 20px;
        .lg-text {
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 12px;

            // @include adaptiv-value(line-height, 48, 42, 1);//62 42 1
            @include adaptiv-value(font-size, 62, 51, 1); //87 51 1
            @media (max-width: $break2) {
                margin-bottom: 9px;
            }
        }
        .sm-text {
            font-weight: 700;
            letter-spacing: 1px;
            margin-left: 7px;

            @include adaptiv-value(line-height, 39, 28, 1);
            @include adaptiv-value(font-size, 33, 18, 1);
            @media (max-width: $break2) {
                margin-left: 0px;
            }
        }
    }

    &__btn {
        align-self: flex-start;
    }
}
 */
.hello {
  background: url(../img/carusel/slider-4.jpg) center/cover no-repeat;
}

@media (max-width: 450px) {
  .hello {
    background: url(../img/carusel/slider-4-min.jpg) center/cover no-repeat;
  }
}

.hello__body {
  min-height: calc(100vh - 108px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 874px) {
  .hello__body {
    min-height: calc(100vh - 80px);
  }
}

.hello__caption {
  max-width: 490px;
}

.hello__lable {
  font-weight: 500;
  font-size: 36px;
  line-height: 59px;
  text-transform: uppercase;
  margin-bottom: 36px;
}

@media (max-width: 1140px) {
  .hello__lable {
    font-size: calc(22px + 14 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 1140px) {
  .hello__lable {
    line-height: calc(34px + 25 * ((100vw - 320px) / 820));
  }
}

.hello__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
}

.hello__btn {
  padding: 20px 15px;
  border: 2px solid #303030;
  font-size: 16px;
  color: #000;
  line-height: 20px;
  text-transform: uppercase;
  margin-right: 19px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 767px) {
  .hello__btn:hover {
    background-color: #303030;
    color: #fff;
  }
}

.hello img {
  max-height: 100%;
}

@media (max-width: 450px) {
  .hello img {
    display: none;
  }
}

.new-year__body {
  max-width: 1030px;
}

.new-year__caption {
  text-align: center;
  padding: 52px;
  color: #fff;
  background: url(../img/slide-back.png) -50% 0/100% no-repeat;
}

@media (max-width: 740px) {
  .new-year__caption {
    padding: 52px 27px;
  }
}

@media (max-width: 544px) {
  .new-year__caption {
    background-position: 50% 36px;
    background-size: 150%;
  }
}

.new-year__lable {
  font-family: "GabriolaRegular";
  font-size: 126px;
}

@media (max-width: 1140px) {
  .new-year__lable {
    font-size: calc(52px + 74 * ((100vw - 320px) / 820));
  }
}

.new-year__sub-lable {
  font-size: 27px;
}

@media (max-width: 1140px) {
  .new-year__sub-lable {
    font-size: calc(20px + 7 * ((100vw - 320px) / 820));
  }
}

.sale__body {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sale__caption {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 52px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.sale__lable {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 75px;
}

@media (max-width: 1140px) {
  .sale__lable {
    font-size: calc(39px + 36 * ((100vw - 320px) / 820));
  }
}

.sale__sub-lable {
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 42px;
  font-size: 28px;
  line-height: 42px;
}

@media (max-width: 1140px) {
  .sale__sub-lable {
    font-size: calc(18px + 10 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 1140px) {
  .sale__sub-lable {
    line-height: calc(24px + 18 * ((100vw - 320px) / 820));
  }
}

.sale__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Точки (булиты) */
}

.carusel__caption {
  min-height: calc(100vh - 108px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1260px) {
  .carusel__caption {
    min-height: 500px;
  }
}

.carusel .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carusel .slick-list {
  overflow: hidden;
}

.carusel .slick-dots {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  display: block;
  z-index: 1;
  right: 0;
  width: 75px;
  text-align: center;
  padding: 42px 26px;
}

.carusel .slick-dots li {
  padding: 11px 0;
}

.carusel .slick-dots li button {
  border-radius: 50%;
  font-size: 0;
  width: 32px;
  height: 32px;
  border: 6px solid #fefefe;
  background-color: transparent;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.carusel .slick-dots li.slick-active button {
  border: 9px solid #fffefe;
  background-color: #d92928;
}

@media (min-width: 768px) {
  .carusel .slick-dots li button:hover {
    border: 9px solid #fffefe;
    background-color: #d92928;
  }
}

@media (max-width: 1260px) {
  .carusel .slick-dots {
    padding: 0 42px;
    height: 65px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
    justify-self: center;
    right: auto;
    margin: 0px auto;
    border-radius: 20px 20px 0 0;
  }
  .carusel .slick-dots li {
    padding: 0px;
    padding: 0 11px;
  }
}

@media (max-width: 767px) {
  .carusel .slick-dots {
    height: 50px;
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .carusel .slick-dots li button {
    width: 30px;
    height: 30px;
    border: 5px solid #fefefe;
  }
  .carusel .slick-dots li.slick-active button {
    border: 6px solid #fefefe;
    background-color: #d92928;
  }
}

/*#endregion */
/*#region =====================================Секция Услуги*/
.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -48px;
  max-width: 1356px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 81px;
}

@media (max-width: 1270px) {
  .service__row {
    margin: 0 -16px;
  }
}

@media (max-width: 1120px) {
  .service__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.service__item {
  cursor: default;
  padding: 0 48px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: 42px;
}

@media (max-width: 1270px) {
  .service__item {
    padding: 0 16px;
  }
}

@media (max-width: 1120px) {
  .service__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 760px;
    margin-bottom: 36px;
  }
}

.service__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 68px;
  font-weight: 500;
  position: relative;
  background-color: #eeeeee;
  /* &:hover {
            border: 3px solid #d92928;
            background-color: #d92928;
            color: #fff;
            transition: all 0.3s ease;
        }*/
}

.service__item-body i {
  font-size: 40px;
  background-color: #275988;
  min-width: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #fff;
}

@media (max-width: 1140px) {
  .service__item-body i {
    font-size: calc(33px + 7 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 1140px) {
  .service__item-body i {
    min-width: calc(54px + 22 * ((100vw - 320px) / 820));
  }
}

.service__item-body .icon-transit,
.service__item-body .icon-engine {
  font-size: 36px;
}

@media (max-width: 1140px) {
  .service__item-body .icon-transit,
  .service__item-body .icon-engine {
    font-size: calc(27px + 9 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 470px) {
  .service__item-body i {
    font-weight: 400;
  }
}

.service__text {
  padding: 0 15px;
  font-size: 15px;
  line-height: 17px;
}

/*#endregion */
/*#region =====================================Секуия Прайс*/
.card-price {
  background-color: #d92928;
  border-radius: 16px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 51px 24px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  min-height: 190px;
}

.card-price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-price a {
  color: #fff;
}

.card-price__lable {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 52px;
  margin-bottom: 32px;
}

.card-price__lable i {
  font-size: 20px;
  margin-right: 8px;
}

.card-price__lable:last-child {
  margin-right: 0;
}

@media (max-width: 520px) {
  .card-price__lable {
    font-size: 15px;
    margin-right: 24px;
    margin-bottom: 27px;
  }
  .card-price__lable i {
    font-size: 18px;
    margin-right: 5px;
  }
}

.card-price__title {
  z-index: 10;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  -webkit-transition: all 0.18s ease;
  transition: all 0.18s ease;
}

@media (max-width: 1140px) {
  .card-price__title {
    font-size: calc(27px + 5 * ((100vw - 320px) / 820));
  }
}

@media (min-width: 767px) {
  .card-price__title:hover {
    -webkit-transform: translate(0, -15%);
            transform: translate(0, -15%);
  }
}

.card-engine {
  background-color: #275988;
}

.card-qustion {
  height: 190px;
  padding: 46px 15px 24px 270px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(../img/cart-back.jpg) left/90% no-repeat;
  background-color: #feb71d;
  color: #292929;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card-qustion__title {
  font-size: 22px;
  font-weight: 700;
}

@media (max-width: 520px) {
  .card-qustion__title {
    margin-bottom: 15px;
    font-size: 20px;
  }
}

.card-qustion__lable {
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 520px) {
  .card-qustion__lable {
    margin-bottom: 21px;
    font-size: 17px;
  }
}

.card-qustion i {
  font-size: 38px;
}

@media (max-width: 520px) {
  .card-qustion i {
    font-size: 33px;
  }
}

@media (max-width: 695px) {
  .card-qustion {
    padding: 46px 15px 24px 40%;
  }
}

@media (max-width: 520px) {
  .card-qustion {
    height: auto;
    background: none;
    background-color: #feb71d;
    padding: 21px;
  }
}

/*
.price {
    $break1: 1087px;

    background: url(../img/price-back.jpg) 0 0 / cover no-repeat;
    &__body {
        display: flex;
        flex-direction: column;
        min-height: calc(55vh - (108px/ 2)); //50vh;
        justify-content: center;
        @media (max-width: $break1) {
            min-height: auto;
        }
    }
    &__row {
        max-width: 1120px;
        display: flex;
        //justify-content: space-between;
        margin: -15px;
        @media (max-width: $break1) {
            justify-content: center;
            flex-wrap: wrap;
            margin: 0;
        }
    }
    &__card {
        padding: 30px 15px;
        transition: all 0.3s ease;
        margin-right: 52px;
        &:hover {
            //  transform: scale(1.05);
        }
        @media (max-width: $break1) {
            flex: 0 1 700px;
        }
    }
}*/
.price .engine {
  background: url(../img/price-img1.jpg) 0 0/cover no-repeat;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 990px) {
  .price .engine {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.price .tools {
  background: url(../img/price-img2.jpg) 0 0/cover no-repeat;
}

.price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 540px;
}

@media (max-width: 990px) {
  .price__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.price__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.price__item:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52, 50, 50, 0.8);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 767px) {
  .price__item:hover::after {
    background-color: rgba(52, 50, 50, 0.6);
  }
}

@media (max-width: 990px) {
  .price__item {
    width: 100%;
    padding: 45px 0;
  }
}

.price__body {
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 570px;
          flex: 0 1 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 27px;
}

.price__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 314px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

.price__lable {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 1140px) {
  .price__lable {
    font-size: calc(15px + 3 * ((100vw - 320px) / 820));
  }
}

.price__lable a {
  color: #fff;
}

.price__lable i {
  margin-right: 6px;
}

.price__title > a {
  color: #fff;
  font-weight: bold;
  font-size: 38px;
  text-transform: uppercase;
}

@media (max-width: 1140px) {
  .price__title > a {
    font-size: calc(22px + 16 * ((100vw - 320px) / 820));
  }
}

/*#endregion */
/*#region =====================================Секуия Приимущества*/
.benefits__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1137px) {
  .benefits__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 645px;
    margin: 0 auto;
  }
}

@media (max-width: 596px) {
  .benefits__body {
    max-width: 350px;
    margin-bottom: 33px;
  }
}

.benefits__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 81px 0;
}

.benefits__item i {
  font-size: 48px;
  margin-bottom: 33px;
  color: #d92928;
}

@media (max-width: 1140px) {
  .benefits__item i {
    font-size: calc(41px + 7 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 1140px) {
  .benefits__item i {
    margin-bottom: calc(15px + 18 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 1137px) {
  .benefits__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 596px) {
  .benefits__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 24px 0 60px 0;
  }
}

.benefits__description {
  text-align: center;
  color: #000000;
  line-height: 24px;
  font-size: 17px;
}

/*#endregion */
/*#region =====================================Секуия Мы ремонтируем*/
.fix {
  background-color: #f5f5f5;
  padding-bottom: 52px;
}

.fix__body {
  display: none;
  padding-bottom: 62px;
}

@media (max-width: 767px) {
  .fix__body {
    padding-bottom: 20px;
  }
}

.fix__title h2 {
  font-style: italic;
  font-weight: 600;
  color: #000;
}

@media (max-width: 767px) {
  .fix__item {
    position: relative;
    padding-bottom: 20px;
  }
  .fix__item::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #292929;
    position: absolute;
    bottom: 18px;
  }
}

.fix__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .fix__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.fix__picture {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.fix__picture img {
  width: 224px;
}

@media (max-width: 1199px) {
  .fix__picture img {
    width: 170px;
  }
}

.fix__description {
  padding-left: 40px;
}

@media (max-width: 767px) {
  .fix__description {
    padding-left: 0px;
  }
}

.fix__lable {
  color: #292929;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-size: 24px;
}

@media (max-width: 1140px) {
  .fix__lable {
    font-size: calc(18px + 6 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 767px) {
  .fix__lable {
    display: none;
  }
}

.fix__lable.spoiler {
  display: none;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.fix__lable.spoiler::before, .fix__lable.spoiler::after {
  content: "";
  width: 10px;
  height: 1px;
  background-color: #292929;
  position: absolute;
  top: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.fix__lable.spoiler::before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  left: 0;
}

.fix__lable.spoiler::after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  left: 8px;
}

.fix__lable.spoiler.active::before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  left: 0;
}

.fix__lable.spoiler.active::after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  left: 8px;
}

@media (max-width: 767px) {
  .fix__lable.spoiler {
    display: block;
  }
}

.fix__text {
  color: #707070;
  font-size: 17px;
  line-height: 29px;
  width: calc(100%-208px);
}

@media (max-width: 1050px) {
  .fix__text .morecontent span {
    display: none;
  }
}

.fix__text .morelink {
  display: none;
  color: #292929;
  white-space: nowrap;
}

@media (max-width: 1050px) {
  .fix__text .morelink {
    display: inline;
  }
}

.fix__text .moreellipses {
  display: none;
  white-space: nowrap;
}

@media (max-width: 1050px) {
  .fix__text .moreellipses {
    display: inline;
  }
}

@media (max-width: 1199px) {
  .fix__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .fix__text {
    font-size: 14px;
    padding-bottom: 20px;
  }
}

.fix__load-more {
  text-align: center;
}

.fix__load-more a {
  color: #707070;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.fix__load-more a:hover {
  color: #292929;
}

@media (max-width: 767px) {
  .fix__load-more {
    display: none;
  }
}

/*#endregion */
/*#region =====================================Секуия Партнеры*/
.partners__slider {
  position: relative;
  padding: 0 30px 46px 30px;
}

@media (max-width: 425px) {
  .partners__slider {
    padding: 0;
    padding-bottom: 46px;
  }
}

.partners__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partners__slider .slick-list {
  overflow: hidden;
}

.partners__slider .slick-arrow {
  position: absolute;
  top: 50%;
  color: #efefef;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 40px;
}

@media (max-width: 1140px) {
  .partners__slider .slick-arrow {
    font-size: calc(33px + 7 * ((100vw - 320px) / 820));
  }
}

.partners__slider .slick-arrow:hover {
  color: #d8d8d8;
}

.partners__slider .slick-prev {
  background-color: transparent;
  left: 0;
}

.partners__slider .slick-next {
  background-color: transparent;
  right: 0;
}

.partners__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__slider .slick-dots li {
  list-style: none;
  margin: 0 8px;
}

.partners__slider .slick-dots li button {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  font-size: 0;
  border: 3px solid #d8d8d8;
}

.partners__slider .slick-dots li button:hover {
  background-color: #d8d8d8;
}

.partners__slider .slick-dots li.slick-active button {
  background-color: #d8d8d8;
}

.partners__item img {
  max-height: 100%;
  max-width: 100%;
}

.partners__body {
  margin: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
}

@media (max-width: 1140px) {
  .partners__body {
    height: calc(112px + 68 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 425px) {
  .partners__body {
    margin: 12px;
  }
}

/*#endregion */
/*#region =====================================Секуия Обратная связь*/
.letter {
  padding: 25px 15px;
  background: #ffffff url("../img/contact-form.webp") 20px 0/113px 5px repeat-x;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.letter::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7) url(../img/loading.gif) center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.letter._sending::after {
  opacity: 1;
  visibility: visible;
}

.letter .hide {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.letter__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -7.5px;
}

@media (max-width: 647px) {
  .letter__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.letter__title {
  color: #707070;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.letter__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38%;
          flex: 0 1 38%;
  margin: 0 7.5px;
}

@media (max-width: 647px) {
  .letter__contacts {
    margin: 0 -0.7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .letter__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.letter__text-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 647px) {
  .letter__text-input {
    padding: 0 7.5px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 500px) {
  .letter__text-input {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.letter__text-input._error .letter__lable {
  color: #d92928;
  font-weight: 500;
}

@media (max-width: 647px) {
  .letter .subject {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .letter .name {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .letter .mail {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 647px) {
  .letter .topic {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .letter .mail {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.letter__lable {
  color: #707070;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 5px;
  margin-top: 7.5px;
}

.letter__input {
  width: 100%;
  max-width: 100%;
  height: 35px;
  border: 2px solid #bebebe;
  background-color: #ffffff;
  padding: 8px;
}

.letter__input._error {
  border-color: #d92928;
}

.letter__message {
  margin: 0 7.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 62%;
          flex: 0 0 62%;
}

.letter__text-textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

@media (max-width: 647px) {
  .letter__text-textarea {
    height: 172px;
  }
}

.letter__textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 2px solid #bebebe;
  background-color: #ffffff;
  padding: 8px;
  resize: none;
}

.letter__input-path + label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
}

.letter__input-path + label .path {
  border: 1px solid #707070;
  background-color: #fbfbfb;
  padding: 10px;
  color: #707070;
}

.letter__input-path + label .btn {
  padding: 10px;
  background-color: #6c6c6c;
  color: #fff;
}

.letter__input-path + label .btn:hover {
  background-color: #292929;
}

.letter__input-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.letter__load {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38%;
          flex: 0 1 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.letter__btn {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 16px;
  text-transform: none;
  padding: 16px 28px;
}

.letter__agreement {
  margin-top: 20px;
  margin-bottom: 5px;
}

.letter__agreement._error .letter__checkbox-lable {
  color: #d92928;
  font-weight: 500;
}

.letter__agreement._error .letter__checkbox-lable::before {
  border-color: #d92928;
}

.letter__checkbox-input {
  display: none;
}

.letter__checkbox-input:checked + .letter__checkbox-lable {
  color: #707070;
  font-weight: 400;
}

.letter__checkbox-input:checked + .letter__checkbox-lable::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.letter__checkbox-input:checked + .letter__checkbox-lable::before {
  border-color: #292929;
}

.letter__checkbox-lable {
  color: #707070;
  font-size: 15px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.letter__checkbox-lable::before {
  -webkit-transition: border 0.5s ease 0s;
  transition: border 0.5s ease 0s;
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  height: 20px;
  border: 2px solid #ccc;
  margin: 0 10px 0 0;
}

.letter__checkbox-lable::after {
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  content: "";
  font-size: 25px;
  color: #000;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 3.5px;
  left: 3.5px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23292929' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  -webkit-transform: scale(0);
          transform: scale(0);
}

.qustion {
  background-color: #f5f5f5;
  position: relative;
}

.qustion::after {
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #d8d8d8;
}

.qustion__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 52px;
}

.qustion__baner {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 454px;
          flex: 0 1 454px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 30px;
  z-index: 1;
}

.qustion__baner img {
  max-width: 100%;
}

@media (max-width: 1160px) {
  .qustion__baner {
    display: none;
  }
}

.qustion__letter {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 780px;
          flex: 0 1 780px;
  padding-bottom: 52px;
}

/*#endregion */
/*#region =====================================Секуия Карта*/
.map__gooole-map {
  height: 460px;
}

/*#endregion */
/*#region =====================================Подвал*/
.footer {
  background: url(../img/footer-back-2.jpg) 0 0/cover no-repeat;
}

.footer__title {
  color: #fff;
  font-size: 32px;
  padding-bottom: 51px;
  padding-top: 51px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 72px;
}

@media (max-width: 1140px) {
  .footer__title {
    font-size: calc(27px + 5 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 1140px) {
  .footer__title {
    padding-bottom: calc(42px + 9 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 1140px) {
  .footer__title {
    padding-top: calc(42px + 9 * ((100vw - 320px) / 820));
  }
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1023px) {
  .footer__row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 880px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__contacts {
  margin-right: 40px;
  margin-bottom: 51px;
}

@media (max-width: 1140px) {
  .footer__contacts {
    margin-bottom: calc(42px + 9 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 1023px) {
  .footer__contacts {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer__social {
  margin-right: 30px;
  margin-bottom: 51px;
}

@media (max-width: 1140px) {
  .footer__social {
    margin-bottom: calc(42px + 9 * ((100vw - 320px) / 820));
  }
}

.footer__social i {
  font-size: 38px;
}

@media (max-width: 1140px) {
  .footer__social i {
    font-size: calc(33px + 5 * ((100vw - 320px) / 820));
  }
}

.footer__social a {
  color: #fff;
  margin-right: 18px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__social a:hover {
  color: #d92928;
}

@media (max-width: 1023px) {
  .footer__social {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 880px) {
  .footer__social {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.footer__driving {
  margin-right: 30px;
  margin-bottom: 51px;
  display: block;
}

@media (max-width: 1140px) {
  .footer__driving {
    margin-bottom: calc(42px + 9 * ((100vw - 320px) / 820));
  }
}

.footer__driving img {
  max-width: 280px;
}

@media (max-width: 1023px) {
  .footer__driving {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 880px) {
  .footer__driving {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item i {
  color: #d92928;
  font-size: 27px;
  text-align: left;
  min-width: 50px;
}

@media (max-width: 1140px) {
  .footer__item i {
    font-size: calc(24px + 3 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 1140px) {
  .footer__item i {
    min-width: calc(39px + 11 * ((100vw - 320px) / 820));
  }
}

.footer__item .icon-mail {
  font-size: 22px;
}

@media (max-width: 880px) {
  .footer__item i {
    text-align: left;
  }
  .footer__item .icon-mail {
    font-size: 21px;
  }
}

.footer__lable {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 17px;
  max-width: 385px;
}

@media (max-width: 880px) {
  .footer__lable {
    font-size: 17px;
  }
}

.footer__lable.adress {
  margin-bottom: 36px;
}

.footer__lable.phone {
  font-weight: 600;
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 36px;
}

.footer__lable.mail {
  text-transform: uppercase;
  margin-bottom: 36px;
}

.footer__bottom {
  margin-bottom: 58px;
}

.footer__bottom img {
  max-width: 314px;
  margin-bottom: 22px;
  max-height: 100%;
}

.footer__rights {
  color: #fff;
  font-size: 12px;
}

/*#endregion */
